<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}"><img src="{{ site.github.url }}/assets/headshot.jpg" height="150px"></a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

<!--       <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <div class="social-container">
      <a href="https://www.linkedin.com/in/andrew-bergan-bb209825/"><img class="social-icons" src="{{ site.github.url }}/assets/icons/linkedin-light.png"></a>
      <a href="https://github.com/acbergan"><img class="social-icons" src="{{ site.github.url }}/assets/icons/github-light.png"></a>
      <a href="https://www.instagram.com/andrewcbergan/"><img class="social-icons" src="{{ site.github.url }}/assets/icons/instagram-light.png"></a>
      <a href="https://scholar.google.com/citations?user=tY_lp_UAAAAJ&hl=en"><img class="social-icons" src="{{ site.github.url }}/assets/icons/gscholar-light.png"></a>
      <a href="https://www.mountainproject.com/u/acbergan//108449283?action=tickbreakdown&"><img class="social-icons" src="{{ site.github.url }}/assets/icons/mp-light.png"></a>
      <a href="mailto:acbergan@gmail.com"><img class="social-icons" src="{{ site.github.url }}/assets/icons/mail-light.png"></a>
    </div>
    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
